.red-color {
  background-color: red;
  text-align: center;
  font-size: 20px;
  font-style: inherit;
}

.large-text {
  font-size: 15px;
  font-family: monospace;
  background-color: chartreuse;
}

#font.style {
  font-style: italic;
  color: coral;
}
